# dependencies
/node_modules

# logs
/logs

# build artifacts
/dist

# testing
/coverage

# IDE
.vscode/

# misc
/.idea/

# backups
*~

# mac os files
.DS_Store

# old files
/old/

# RepoPrompt
.repoprompt/